/* Smartphones et tablettes */
@media (max-width: 560px) {
  .card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 230px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    box-shadow: 1px 2px 1px #ddd;
  }
}

/* Ordinateur */
@media (min-width: 560px) {
  .card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 500px;
    height: 300px;
    padding: 0px;
    margin: 30px;
    background-color: white;
    box-shadow: 1px 2px 1px #ddd;
  }
}

/* Smartphones et tablettes */
@media (max-width: 560px) {
  .card-image {
    display: flex;
    justify-content: flex-start;
    width: 155px;
    overflow: hidden;
  }
}

/* Ordinateur */
@media (min-width: 560px) {
  .card-image {
    display: flex;
    justify-content: flex-start;
    width: 40%;
    overflow: hidden;
  }
}

.card-image img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  background-color: #888;
}

.card-info-container {
  display: flex;
  width: 60%;
  flex-direction: column;
}

/* Smartphones et tablettes */
@media (max-width: 560px) {
  .card-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
  }
}

/* Ordinateur */
@media (min-width: 560px) {
  .card-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
  }
}

/* Smartphones et tablettes */
@media (max-width: 560px) {
  .card-info h1 {
    font-size: 14px;
    margin: 0;
  }

  .card-info h2 {
    font-size: 12px;
    color: #999;
    margin: 0;
  }

  .card-info p {
    font-size: 9px;
    color: #999;
    margin-top: 10px;
  }
}

/* Ordinateur */
@media (min-width: 560px) {
  .card-info h1 {
    font-size: 16px;
    margin: 0;
  }

  .card-info h2 {
    font-size: 14px;
    color: #999;
    margin: 0;
  }

  .card-info p {
    font-size: 12px;
    color: #999;
    margin-top: 20px;
  }
}
